﻿@using Air.ViewModel;
@using AirDataModels;
@model ReservationItem
<style>
    .PLLO{
        margin-left:20px;

    }
    .textemission-left{
        font-weight:bold;
        font-size:14px;
margin-top: 8px;
    }
</style>

<div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mt-2 mb-2 text-center pl-0">
    @* <div class="tblIconThumb"><img src="~/assets/images/listing/Airline/@(Model.MarketingAirline.AirlineCode).png" style="width:60px; height:40px" alt=""></div> *@
    <div class="tblIconThumb">
        <img src="~/assets/images/listing/Airline/@(Model.MarketingAirline.AirlineCode).png" style="height:20px;" alt="@Model.MarketingAirline.AirlineName" title="@Model.MarketingAirline.AirlineName">
    </div>

    @* <span class="colorGrey font12 text-center">@(Model.MarketingAirline.AirlineName.Count() > 16 ? Model.MarketingAirline.AirlineName.Substring(0, 14) + ".." : Model.MarketingAirline.AirlineName)</span> *@
    <span class="colorGrey font12 text-center">@(Model.MarketingAirline.AirlineCode + "-1234" + Model.FlightNumber)</span>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
    <div class="row city-flight-info-wrap">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 colorGrey city-name">
            <small class="allignTop d-block mt-2 mb-2" title="@Model.DepartureAirport.CityName">@Model.DepartureAirport.AirportCode</small>
            <div class="timeBold">@Model.DepartureDateTime.ToString("HH:mm")</div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 colorGrey city-name">
            <small class="allignTop d-block mt-2 mb-2" title="@Model.ArrivalAirport.CityName">@Model.ArrivalAirport.AirportCode</small>
            <div class="timeBold">@Model.ArrivalDateTime.ToString("HH:mm")</div>
        </div>
    </div>
    <div class="flightBgright"></div>
    <div class="row city-flight-info-wrap">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 colorGrey">
            <small class="allignTop d-block mt-2 mb-2">
                <ul>
                    <li>1h 52m in Seattle (SEA)</li>
                    <li>1h 52m in Seattle (SEA)</li>
                </ul>
            </small>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center">
    <div class="duration mt-2 mb-2">
        19h 47m
    </div>
    <div class="duration mt-2 mb-2">
        @{
            string val = string.Empty;
            if (Model.StopQuantity == 0)
            {
                val = "Non Stop";
            }
            else
            {
                val = Model.StopQuantity + " Stop(s)";
            }
        }
        @Model.JourneyDuration <span class="colorGrey">@Model.StopQuantityInfo.LocationCode @val*</span>
    </div>  
    <div class="textemission-left mb-2">
        @((Model.EmissionsInKg != null ? Model.EmissionsInKg.ToString() : "0.0")) Kg CO<sub>2</sub>
    </div>

</div>


@* <div class="col-6 textemission-left">@Model.EmissionsInKg Kg CO<sub>2</sub></sub></div> *@
